@charset "utf-8";
@import url(reset.css);
@mixin full{
	width:100%;
	height:100%;
}
@mixin pos($v:relative){
	position:$v;
}
@mixin box($v:horizontal){
	display:-webkit-box;
	-webkit-box-orient:$v;
}
body,html,.box{
	@include full;
	//overflow:hidden;
}


